@{
    ViewData["Title"] = "Regisztráció";
}
@model User
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Külső CSS Példa</title>
    <link rel="stylesheet" href="~/css/SajatCSS.css">
</head>
<!-- Regisztráció és captcha -->
<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("RegisterUser", "Account"))
{
    <label>Adja meg a teljes nevét: </label>
    @Html.TextBoxFor(x => x.Fullname)
    <br />

    <label>Adja meg a felhasználónevét: </label>
    @Html.TextBoxFor(x => x.Username)
    <br />

    <label>Adja meg az email címét: </label>
    @Html.TextBoxFor(x => x.Email)
    <br />

    <label>Adja meg a jelszavát: </label>
    @Html.PasswordFor(x => x.PasswordHash)
    <br />

    <!-- CAPTCHA -->
    @* <div class="cap">
        <h3> Captcha Code </h3>
        <div class="captchacode">
            <form name="form1">
                <input type="text" id="captchaTxtArea" name="text" value=""/>
                <br/>
                <label>Adja meg a captcha kódot: </label>
                <input type="text" id="CaptchaEnter" name="CaptchaInput" placeholder="Adja meg a kódot" required />
                <br/>
                <button value="Frissítés" id="refreshbtn" onclick="genNewCaptcha()" /> 
                <button value="Ellenőrzés" id="checkbtn" onclick="checkCaptcha()" />
            </form>
        </div>
    </div> *@
    <input type="submit" />
}
<!-- Külső js -->
<!-- wwwroot/js/Captcha.js    mappában van-->
<script src="~/js/Captcha.js"></script>